.card {
    margin: 20px;
    border: 1px solid #c7c1c1;
    transition: 0.3s;
    width: 300px;
    cursor: pointer;
      &-container {
          padding: 2px 16px;
      }
      &-stats{
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 15px;
        p{
            cursor: pointer;
            font-size: 13px;
            margin-right: 5px;
            color: #D0BA93;
          }
      }
      &:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
}

