.banner{
    background-image: url("../../assets/assets_Homework_Front-End_01/bitmap.png");
    height: 50%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-content{
        text-align: center;
        padding: 30px;
        h1,h2,h3,h4,h5,h6{
            margin: 25px 0px 30px 0px;
            color: white;
        }
    }
    &-search-container{
        margin: 25px 0px 30px 0px;
        display: flex;
        justify-content: center;
        
        button {
          padding: 6px 10px;
          margin-left: 10px;
          background: transparent;
          font-size: 22px;
          border: none;
          cursor: pointer;
        }
        &-inputBox{
          padding: 6px;
          font-size: 17px;
          border: none;
          background: transparent;
          border-radius: 5px;
          color: white;
          width: 300px;
          
          
        }
        &-search-box{
            width: 100%;
            border: 1px solid white;
            border-radius: 5px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}
textarea:focus, input:focus{
    outline: none;
}
